/*img {
	max-width: 210px;
	max-height: 90px;
	margin-bottom: 1em;
}*/

#searchTerm {
	text-align: center;
}

#query {
	margin-bottom: 1em;
}

.searchResults {
	width: 45em;
	margin: 0 auto;
}

.titleOverlay {
	display: none;
}

.resultsContainer:hover .titleOverlay {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	pointer-events: none; /* prevent overlay from blocking clicks */
	background: rgba(0,0,0,.5);
	color: white;
}

.videoTitle {
	padding-top: 2.6%;
}
.resultsContainer {
	position: relative;
	text-align: center;
	border: 1px solid black;
    padding: 1em;
    background: rgba(134, 109, 109, 0.4);
    margin-bottom: 2em;
    transition: box-shadow .5s;
}

.resultsContainer:hover {
	box-shadow: 0 37px 30px -30px;
}
